.main-wrapper {

  .main-head {


    .header-inner {
      height: 100%;
    }

    @include breakpoint($large) {
      @include clearfix();

      .left-section {
        height: 100%;
        @include grid-span(7, 1);
      }

      .right-section {
        height: 100%;
        @include grid-span(5, 8);
      }
    }
  }

  .content-container {

    @include breakpoint($large) {
      @include clearfix();
      @include add-grid(12);
      @include add-gutter(0);

      .left-section {
        @include grid-span(6, 1);
      }

      .right-section {
        @include grid-span(6, 7);
      }
    }
  }
}

.decision-content {

  @include breakpoint($medium-to-large) {
    @include add-grid(2);
    @include add-gutter(0);
    @include clearfix();
    width: 100%;

    .left-section {
      @include grid-span(1, 1);
    }

    .right-section {
      @include grid-span(1, 2);
    }
  }
}