//Typography
$volk: 'Vollkorn', serif;
$roboto: 'Roboto', sans-serif;

//Colors
$white: white;
$grey: #F2F2F2;
$border-gray: #979797;
$copy: #1A2F54;

$beach-light-blue: #61B3F6;
$beach-dark-blue: $copy;

$mountain-light-blue: #629BCA;
$mountain-dark-blue: $copy;