<section class="main-wrapper gate">

	<header>

		<div class="main-title">
			<h1>ResortApp</h1>
		</div>

	</header>

	<main class="main-content">

		<section class="intro-content">
			<div class="main-inner">

				<p>ResortApp is a comprehensive vacation guide for beach and ski resort towns. It's a directory of everything to do in a mountain or beach town from deals to the best restaurants, bars, and shops, with fully loaded maps.</p>
				<p>It's the best compliment to a vacation all from the convenience of a simple to <span class="callout-copy">use iOS and Android app</span></p>

			</div>
		</section>

		<section class="intro-sub">
			<div class="main-inner">

				<h2>Would you like to view the mountain or beach version?</h2>

			</div>
		</section>

		<section class="decision-content">

				<div ui-sref="resort({type: 'mountain'})" class="left-section">
					<img class="decision-image" ng-src="./assets/images/mountain_home_joe.png" alt="ResortApp on an phone">
				</div>
				<div ui-sref="resort({type: 'beach'})" class="right-section">
					<img class="decision-image" ng-src="./assets/images/beach_home_joe.png" alt="ResortApp on an phone">
				</div>

		</section>
	</main>

</section>