<section class="main-wrapper"
         ng-class="{'mountain-container': (content.type === 'mountain'), 'beach-container': (content.type === 'beach')}">

	<header class="main-head">
		<div class="header-inner">

			<div class="left-section">
				<div class="main-title">
					<h1>{{content.title}} <span class="tagline">{{content.subtitle}}</span></h1>
				</div>
			</div>
			<div class="right-section">

				<div ng-if="content.type === 'mountain'"><img class="header-image"
				                                              ng-src="./assets/images/mountain_home_joe.png"
				                                              alt="ResortApp on an phone"></div>
				<div ng-if="content.type === 'beach'"><img class="header-image"
				                                           ng-src="./assets/images/beach_home_joe.png"
				                                           alt="ResortApp on an phone"></div>

			</div>

		</div>
	</header>

	<main class="main-content">

		<section class="intro-content">
			<div class="main-inner">

				<h2>Introducing ResortApp</h2>
				<p>{{content.intro}}</p>

			</div>
		</section>

		<section ng-repeat="item in sectionData" class="content-container">
			<div class="main-inner">
				<div ng-class-even="'right-section'" ng-class-odd="'left-section'" class="copy-section">

					<h2>{{item.title}}</h2>
					<p>{{item.text}}</p>

				</div>
				<div ng-class-even="['left-section']" ng-class-odd="'right-section'" class="image-container">
					<img class="content-image" ng-src="{{item.image}}" alt="ResortApp on an phone"></div>
				</div>
			</div>
		</section>
	</main>

	<footer class="main-footer"></footer>
</section>

